@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
      Layout = "_affilateLayout";
}
<style>
    .fx-color{
        color:hsl(203deg 82% 22% / 81%)
    }
</style>

<section>


        <div class=" py-5 mb-4 bg-light rounded-3 section1 " style="border:unset"> 
            <h3 class="fx-color">About Me</h3>
            <p>
                Hier haben Sie direkten ugriff auf lhre Profilinformatinonenmhinterlegte Adressen und die
            </p>
            <p>Standard-Zahlungsart.</p>
            <div class="row">
                <div class="col-md-6">
                    <h5 class="fx-color">Personlich Daten</h5>
                        <hr />
                    <p>Herr Private Peronse</p>
                    <p>Kundennummer:PP1003</p>
                    <p>E-Mail-Addresse:Private@@localhost.de</p>
                
                </div>
                <div class="col-md-6">
                     <h5 class="fx-color">Standard-Zahlungsart</h5>
                    <hr />
                    <p><b><strong>Paypal</strong></b></p>
                    <p>Bezahlung per paypal - einfach, schnell und sicher.</p>
                </div>
        </div>
          <div class="row">
                <div class="col-md-6">
                    <p><b><strong>Profile andern</strong></b></p>
                
                </div>
                <div class="col-md-6">
                    <p><b><strong>Zahlungsart andern</strong></b></p>
                </div>
            </div>
               <div class="row">
                <div class="col-md-12">
                    <h5 class="fx-color">Newsletter-Abonnement</h5>
                        <hr />
                    <p><input type="checkbox" />Ja,ich mochte regelmabig den Newsletter von REGUMED erhalten!(Abmeldung jederzeit moglich.)</p>
                
                </div>
                </div>
                <div class="row">
                <div class="col-md-6">
                    <h5 class="fx-color">Standard-Rechnungsadress</h5>
                        <hr />
                    <p>Herr Private Peronse</p>
                    <p>Private</p>
                    <p>+491639022598</p>
                 <p>81670 Munchen</p>
                  <label>Deutscland</label>
                </div>
                <div class="col-md-6">
                     <h5 class="fx-color">Standard-Zahlungsart</h5>
                    <hr />
                    <p>Entspricht der Rechnungsaddress</p>
                </div>
        </div>
            <div class="row">
                <div class="col-md-6">
                    <p><b><strong>Rechnungsaddress andern </strong></b></p>
                
                </div>
                <div class="col-md-6">
                    <p><b><strong>Lieferaddresse andern</strong></b></p>
                </div>


               </div>
    </section>
