@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
      Layout = "_affilateLayout";
}

<section>


        <div class=" py-5 mb-4 bg-light rounded-3 section1 " style="border:unset"> 
            <h1>Order</h1>
        </div>
    </section>