<section style=" padding-bottom: 200px;">
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12">

                <h2>
                    Buchen Sie über <br>
                    Komplettpakete oder <br> einzelne Fokuspunkte
                </h2>

            </div>

        </div>
      <div  style="height: 600px;overflow: scroll;overflow-x: hidden;">
            <div class="row">
            <div class="col-md-2 mt-4" style="width:260px;">
                <div class="col-md-12 p-3" style=" background-color: #eee;">
                    <h3 class="fw-bold">
                        Modul 1<br>
                    </h3>
                    <p>Inklusive Fokus 1 bis 3 </p>
                    <h6 class="mt-1" style="color: #b30293;">250€ <span style="color:rgb(90, 88, 88) ;">/</span><s style="color:rgb(90, 88, 88) ;"> 375€ </s></h6>

                    <div class="row justify-content-around ">

                        <div class="col-md-12 mt-2" style="background-color:#b30293 ;">
                            <p class="text-light mt-2">Komplettpaket buchen</p>
                        </div>
                    </div>
                </div>


            </div>

            <div class="col-md-2 mt-4" style="width:260px;">
                <div class="col-md-12 p-3" style=" background-color: #eee;">
                    <h3 class="fw-bold">
                        Modul 2<br>
                    </h3>
                    <p>Inklusive Fokus 4 bis 6 </p>
                    <h6 class="mt-1" style="color: #b30293;">250€ <span style="color:rgb(90, 88, 88) ;">/</span><s style="color:rgb(90, 88, 88) ;"> 375€ </s></h6>

                    <div class="row justify-content-around ">

                        <div class="col-md-12 mt-2" style="background-color:#b30293 ;">
                            <p class="text-light mt-2">Komplettpaket buchen</p>
                        </div>
                    </div>
                </div>


            </div>

            <div class="col-md-2 mt-4" style="width:260px;">
                <div class="col-md-12 p-3" style=" background-color: #eee;">
                    <h3 class="fw-bold">
                        Modul 3<br>
                    </h3>
                    <p>Inklusive Fokus 7 bis 9 </p>
                    <h6 class="mt-1" style="color: #b30293;">250€ <span style="color:rgb(90, 88, 88) ;">/</span><s style="color:rgb(90, 88, 88) ;"> 375€ </s></h6>

                    <div class="row justify-content-around ">

                        <div class="col-md-12 mt-2" style="background-color:#b30293 ;">
                            <p class="text-light mt-2">Komplettpaket buchen</p>
                        </div>
                    </div>
                </div>


            </div>

            <div class="col-md-2 mt-4" style="width:260px;">
                <div class="col-md-12 p-3" style=" background-color: #eee;">
                    <h3 class="fw-bold">
                        Modul 4<br>
                    </h3>
                    <p>Inklusive Fokus 10 bis 12 </p>
                    <h6 class="mt-1" style="color: #b30293;">250€ <span style="color:rgb(90, 88, 88) ;">/</span><s style="color:rgb(90, 88, 88) ;"> 375€ </s></h6>

                    <div class="row justify-content-around ">

                        <div class="col-md-12 mt-2" style="background-color:#b30293 ;">
                            <p class="text-light mt-2">Komplettpaket buchen</p>
                        </div>
                    </div>
                </div>


            </div>

            <div class="col-md-2 mt-4" style="width:260px;">
                <div class="col-md-12 p-3" style=" background-color: #eee;">
                    <h3 class="fw-bold">
                        Modul 5<br>
                    </h3>
                    <p>Inklusive Spezial 1 bis 3
</p>
                    <h6 class="mt-1" style="color: #b30293;">250€ <span style="color:rgb(90, 88, 88) ;">/</span><s style="color:rgb(90, 88, 88) ;"> 375€ </s></h6>

                    <div class="row justify-content-around ">

                        <div class="col-md-12 mt-2" style="background-color:#b30293 ;">
                            <p class="text-light mt-2">Komplettpaket buchen</p>
                        </div>
                    </div>
                </div>


            </div>




        </div>

        <div class="row mt-2">
            <div class="col-md-2" style="width:260px;">
                <div class="col-md-12 " style="background-color:#eee; padding: 2rem!important;">
                    <div class="pt-1">
                        <h6 class="fw-bold" style="font-size: 13px;">
                            Beruf / Schule

                        </h6>
                         <p>Einzelfokus 1
 </p>
                        <h6 style="color:#b30293">125€</h6>
                        <div style="background-color:#b30293;color: #ffffff;text-decoration:line-through;height: 30px;width: 30px;float: right;">
                            <a href="#" style="color: white;
                                  font-size: 22px;
                                  position: relative;
                                  left: 4px;">
                                <i class="fa fa-long-arrow-right"></i>
                            </a>
                        </div>


                    </div>

                </div>

            </div>


            <div class="col-md-2" style="width:260px;">
                <div class="col-md-12 " style="background-color:#eee; padding: 2rem!important;">
                    <div class="pt-1">
                        <h6 class="fw-bold" style="font-size: 13px;">
                           Körperbalance

                        </h6>
                        <p>Einzelfokus 4</p>
                        <h6 style="color:#b30293;">125€</h6>
                        <div style="background-color:#b30293;color: #ffffff;text-decoration:line-through;height: 30px;width: 30px;float: right;">
                            <a href="#" style="color: white;
                                    font-size: 22px;
                                    position: relative;
                                    left: 4px;">
                                <i class="fa fa-long-arrow-right"></i>
                            </a>
                        </div>


                    </div>

                </div>

            </div>

            <div class="col-md-2" style="width:260px;">
                <div class="col-md-12 " style="background-color:#eee; padding: 2rem!important;">
                    <div class="pt-1">
                        <h6 class="fw-bold" style="font-size: 13px;">
                            Prävention

                        </h6>
                         <p>Einzelfokus 7</p>
                        <h6 style="color:#b30293;">125€</h6>
                        <div style="background-color:#b30293;color: #ffffff;text-decoration:line-through;height: 30px;width: 30px;float: right;">
                            <a href="#" style="color: white;
                                    font-size: 22px;
                                    position: relative;
                                    left: 4px;">
                                <i class="fa fa-long-arrow-right"></i>
                            </a>
                        </div>


                    </div>

                </div>

            </div>

            <div class="col-md-2" style="width:260px;">
                <div class="col-md-12 " style="background-color:#eee; padding: 2rem!important;">
                    <div class="pt-1">
                        <h6 class="fw-bold" style="font-size: 13px;">
                   Seelische Balance

                        </h6>
                        <p>Einzelfokus 10</p>
                        <h6 style="color:#b30293;">125€</h6>
                        <div style="background-color:#b30293;color: #ffffff;text-decoration:line-through;height: 30px;width: 30px;float: right;">
                            <a href="#" style="color: white;
                                    font-size: 22px;
                                    position: relative;
                                    left: 4px;">
                                <i class="fa fa-long-arrow-right"></i>
                            </a>
                        </div>


                    </div>

                </div>

            </div>

            <div class="col-md-2" style="width:260px;">
                <div class="col-md-12 " style="background-color:#eee; padding: 2rem!important;">
                    <div class="pt-1">
                        <h6 class="fw-bold" style="font-size: 13px;">
                            Homöopathie 100/1

                        </h6>
                        <p>Spezial 1</p>
                        <h6 style="color:#b30293;">125€</h6>
                        <div style="background-color:#b30293;color: #ffffff;text-decoration:line-through;height: 30px;width: 30px;float: right;">
                            <a href="#" style="color: white;
                                    font-size: 22px;
                                    position: relative;
                                    left: 4px;">
                                <i class="fa fa-long-arrow-right"></i>
                            </a>
                        </div>


                    </div>

                </div>

            </div>

        </div>

        <div class="row mt-2">
            <div class="col-md-2" style="width:260px;">
                <div class="col-md-12 " style="background-color:#eee; padding: 2rem!important;">
                    <div class="pt-1">
                        <h6 class="fw-bold" style="font-size: 13px;">
                            Schlaf

                        </h6>
                        <p>Einzelfokus 2</p>
                        <h6 style="color:#b30293;">125€</h6>
                        <div style="background-color:#b30293;color: #ffffff;text-decoration:line-through;height: 30px;width: 30px;float: right;">
                            <a href="#" style="color: white;
                          font-size: 22px;
                          position: relative;
                          left: 4px;">
                                <i class="fa fa-long-arrow-right"></i>
                            </a>
                        </div>


                    </div>

                </div>

            </div>


            <div class="col-md-2" style="width:260px;">
                <div class="col-md-12 " style="background-color:#eee; padding: 2rem!important;">
                    <div class="pt-1">
                        <h6 class="fw-bold" style="font-size: 13px;">
                            Sport / Training

                        </h6>
                        <p>Einzelfokus 5</p>
                        <h6 style="color:#b30293;">125€</h6>
                        <div style="background-color:#b30293;color: #ffffff;text-decoration:line-through;height: 30px;width: 30px;float: right;">
                            <a href="#" style="color: white;
                            font-size: 22px;
                            position: relative;
                            left: 4px;">
                                <i class="fa fa-long-arrow-right"></i>
                            </a>
                        </div>


                    </div>

                </div>

            </div>

            <div class="col-md-2" style="width:260px;">
                <div class="col-md-12 " style="background-color:#eee; padding: 2rem!important;">
                    <div class="pt-1">
                        <h6 class="fw-bold" style="font-size: 13px;">
                            Bewegungsapparat

                        </h6>
                        <p>Einzelfokus 8</p>
                        <h6 style="color:#b30293;">125€</h6>
                        <div style="background-color:#b30293;color: #ffffff;text-decoration:line-through;height: 30px;width: 30px;float: right;">
                            <a href="#" style="color: white;
                            font-size: 22px;
                            position: relative;
                            left: 4px;">
                                <i class="fa fa-long-arrow-right"></i>
                            </a>
                        </div>


                    </div>

                </div>

            </div>

            <div class="col-md-2" style="width:260px;">
                <div class="col-md-12 " style="background-color:#eee; padding: 2rem!important;">
                    <div class="pt-1">
                        <h6 class="fw-bold" style="font-size: 13px;">
                          Soziales Umfeld

                        </h6>
                        <p>Einzelfokus 11</p>
                        <h6 style="color:#b30293;">125€</h6>
                        <div style="background-color:#b30293;color: #ffffff;text-decoration:line-through;height: 30px;width: 30px;float: right;">
                            <a href="#" style="color: white;
                            font-size: 22px;
                            position: relative;
                            left: 4px;">
                                <i class="fa fa-long-arrow-right"></i>
                            </a>
                        </div>


                    </div>

                </div>

            </div>

            <div class="col-md-2" style="width:260px;">
                <div class="col-md-12 " style="background-color:#eee; padding: 2rem!important;">
                    <div class="pt-1">
                        <h6 class="fw-bold" style="font-size: 13px;">
                           Homöopathie 100/2

                        </h6>
                        <p>Spezial 2</p>
                        <h6 style="color:#b30293;">125€</h6>
                        <div style="background-color:#b30293;color: #ffffff;text-decoration:line-through;height: 30px;width: 30px;float: right;">
                            <a href="#" style="color: white;
                            font-size: 22px;
                            position: relative;
                            left: 4px;">
                                <i class="fa fa-long-arrow-right"></i>
                            </a>
                        </div>


                    </div>

                </div>

            </div>

        </div>

        <div class="row mt-2">
            <div class="col-md-2" style="width:260px;">
                <div class="col-md-12 " style="background-color:#eee; padding: 2rem!important;">
                    <div class="pt-1">
                        <h6 class="fw-bold" style="font-size: 13px;">
                           Lernen / Prüfung


                        </h6>
                        <p>Einzelfokus 3
</p>
                        <h6 style="color:#b30293;">125€</h6>
                        <div style="background-color:#b30293;color: #ffffff;text-decoration:line-through;height: 30px;width: 30px;float: right;">
                            <a href="#" style="color: white;
                  font-size: 22px;
                  position: relative;
                  left: 4px;">
                                <i class="fa fa-long-arrow-right"></i>
                            </a>
                        </div>


                    </div>

                </div>

            </div>


            <div class="col-md-2" style="width:260px;">
                <div class="col-md-12 " style="background-color:#eee; padding: 2rem!important;">
                    <div class="pt-1">
                        <h6 class="fw-bold" style="font-size: 13px;">
                           Wellness


                        </h6>
                        <p>Einzelfokus 6</p>
                        <h6 style="color:#b30293;">125€</h6>
                        <div style="background-color:#b30293;color: #ffffff;text-decoration:line-through;height: 30px;width: 30px;float: right;">
                            <a href="#" style="color: white;
                    font-size: 22px;
                    position: relative;
                    left: 4px;">
                                <i class="fa fa-long-arrow-right"></i>
                            </a>
                        </div>


                    </div>

                </div>

            </div>

            <div class="col-md-2" style="width:260px;">
                <div class="col-md-12 " style="background-color:#eee; padding: 2rem!important;">
                    <div class="pt-1">
                        <h6 class="fw-bold" style="font-size: 13px;">
                         Hormonelle Balance

                        </h6>
                        <p>Einzelfokus 9</p>
                        <h6 style="color:#b30293;">125€</h6>
                        <div style="background-color:#b30293;color: #ffffff;text-decoration:line-through;height: 30px;width: 30px;float: right;">
                            <a href="#" style="color: white;
                    font-size: 22px;
                    position: relative;
                    left: 4px;">
                                <i class="fa fa-long-arrow-right"></i>
                            </a>
                        </div>


                    </div>

                </div>

            </div>

            <div class="col-md-2" style="width:260px;">
                <div class="col-md-12 " style="background-color:#eee; padding: 2rem!important;">
                    <div class="pt-1">
                        <h6 class="fw-bold" style="font-size: 13px;">
                        Chakren

                        </h6>
                        <p>Einzelfokus 12</p>
                        <h6 style="color:#b30293;">125€</h6>
                        <div style="background-color:#b30293;color: #ffffff;text-decoration:line-through;height: 30px;width: 30px;float: right;">
                            <a href="#" style="color: white;
                    font-size: 22px;
                    position: relative;
                    left: 4px;">
                                <i class="fa fa-long-arrow-right"></i>
                            </a>
                        </div>


                    </div>

                </div>

            </div>

            <div class="col-md-2" style="width:260px;">
                <div class="col-md-12 " style="background-color:#eee; padding: 2rem!important;">
                    <div class="pt-1">
                        <h6 class="fw-bold" style="font-size: 13px;">
                          Schüssler & Bachblüten


                        </h6>
                        <p>Spezial 3
</p>
                        <h6 style="color:#b30293;">125€</h6>
                        <div style="background-color:#b30293;color: #ffffff;text-decoration:line-through;height: 30px;width: 30px;float: right;">
                            <a href="#" style="color: white;
                    font-size: 22px;
                    position: relative;
                    left: 4px;">
                                <i class="fa fa-long-arrow-right"></i>
                            </a>
                        </div>


                    </div>

                </div>

            </div>

        </div>
      @*  <div class="row mt-2">
            <div class="col-md-2" style="width:260px;">
                <div class="col-md-12 " style="background-color:#eee; padding: 2rem!important;">
                    <div class="pt-1">
                        <h6 class="fw-bold" style="font-size: 13px;">
                            Beruf / Schule

                        </h6>
                        <h6 style="color:#b30293;">125€</h6>
                        <div style="background-color:#b30293;color: #ffffff;text-decoration:line-through;height: 30px;width: 30px;float: right;">
                            <a href="#" style="color: white;
                  font-size: 22px;
                  position: relative;
                  left: 4px;">
                                <i class="fa fa-long-arrow-right"></i>
                            </a>
                        </div>


                    </div>

                </div>

            </div>


            <div class="col-md-2" style="width:260px;">
                <div class="col-md-12 " style="background-color:#eee; padding: 2rem!important;">
                    <div class="pt-1">
                        <h6 class="fw-bold" style="font-size: 13px;">
                            Beruf / Schule

                        </h6>
                        <h6 style="color:#b30293;">125€</h6>
                        <div style="background-color:#b30293;color: #ffffff;text-decoration:line-through;height: 30px;width: 30px;float: right;">
                            <a href="#" style="color: white;
                    font-size: 22px;
                    position: relative;
                    left: 4px;">
                                <i class="fa fa-long-arrow-right"></i>
                            </a>
                        </div>


                    </div>

                </div>

            </div>

            <div class="col-md-2" style="width:260px;">
                <div class="col-md-12 " style="background-color:#eee; padding: 2rem!important;">
                    <div class="pt-1">
                        <h6 class="fw-bold" style="font-size: 13px;">
                            Beruf / Schule

                        </h6>
                        <h6 style="color:#b30293;">125€</h6>
                        <div style="background-color:#b30293;color: #ffffff;text-decoration:line-through;height: 30px;width: 30px;float: right;">
                            <a href="#" style="color: white;
                    font-size: 22px;
                    position: relative;
                    left: 4px;">
                                <i class="fa fa-long-arrow-right"></i>
                            </a>
                        </div>


                    </div>

                </div>

            </div>

            <div class="col-md-2" style="width:260px;">
                <div class="col-md-12 " style="background-color:#eee; padding: 2rem!important;">
                    <div class="pt-1">
                        <h6 class="fw-bold" style="font-size: 13px;">
                            Beruf / Schule

                        </h6>
                        <h6 style="color:#b30293;">125€</h6>
                        <div style="background-color:#b30293;color: #ffffff;text-decoration:line-through;height: 30px;width: 30px;float: right;">
                            <a href="#" style="color: white;
                    font-size: 22px;
                    position: relative;
                    left: 4px;">
                                <i class="fa fa-long-arrow-right"></i>
                            </a>
                        </div>


                    </div>

                </div>

            </div>

            <div class="col-md-2" style="width:260px;">
                <div class="col-md-12 " style="background-color:#eee; padding: 2rem!important;">
                    <div class="pt-1">
                        <h6 class="fw-bold" style="font-size: 13px;">
                            Beruf / Schule

                        </h6>
                        <h6 style="color:#b30293;">125€</h6>
                        <div style="background-color:#b30293;color: #ffffff;text-decoration:line-through;height: 30px;width: 30px;float: right;">
                            <a href="#" style="color: white;
                    font-size: 22px;
                    position: relative;
                    left: 4px;">
                                <i class="fa fa-long-arrow-right"></i>
                            </a>
                        </div>


                    </div>

                </div>

            </div>

        </div>*@

      </div>
    </div>

</section>