@*  <footer class="border-top footer text-muted">
    <div class="container">
    &copy; 2022 - Shop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
    </footer>*@
    <style>
        .fx-f-titlecolor{
            color:#7e92b5;
        }
        .fx-foother-image{
           background-image: url(/Images/Uploads/Capture.PNG);
    background-repeat: no-repeat;
    margin-top: -267px;
        }
    </style>
<footer class="footer-02 container-fluid">
    <div style="background:#efefef;padding-top: 191px; padding-bottom: 0px;">
        <div class="row">
            <div class="col-md-4 col-lg-5 fx-foother-image">
              @* <div class="container row">
                    <div class="col-md-3 col-lg-3 mb-md-0 mb-4">
                       
                    </div>
                    <div class="col-md-9 col-lg-9 mb-md-0 mb-4">
                        <img src="/Images/Logo/logo.png" style="" title="logo">
                        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                        <a href="#">read more <span class="ion-ios-arrow-round-forward"></span></a>
                    </div>
                </div>*@
            </div>
            <div class="col-md-8 col-lg-7">
                <div class="row">
                    <div class="col-md-4 mb-md-0 mb-4 ">
                        <h3 class="footer-heading fx-f-titlecolor">LOREM IPSUM</h3>
                        <ul class="list-unstyled">
                            <li class="fx-f-titlecolor">Lorem ipsum</li>
                            <li class="fx-f-titlecolor">Lorem ipsum</li>
                            <li class="fx-f-titlecolor">Lorem ipsum</li>
                          <li class="fx-f-titlecolor">Lorem ipsum</li>
                           <li class="fx-f-titlecolor">Lorem ipsum</li>
                            <li class="fx-f-titlecolor">Lorem ipsum</li>
                        </ul>
                    </div>
                    <div class="col-md-4 mb-md-0 mb-4 ">
                        <h3 class="footer-heading fx-f-titlecolor">SANCTUS ILLIQUI </h3>
                        <ul class="list-unstyled">
                          <li class="fx-f-titlecolor">Lorem ipsum</li>
                            <li class="fx-f-titlecolor">Lorem ipsum</li>
                            <li class="fx-f-titlecolor">Lorem ipsum</li>
                          <li class="fx-f-titlecolor">Lorem ipsum</li>
                           <li class="fx-f-titlecolor">Lorem ipsum</li>
                            <li class="fx-f-titlecolor">Lorem ipsum</li>
                        </ul>
                    </div>
                    <div class="col-md-4 mb-md-0 mb-4 ">
                        <h3 class="footer-heading fx-f-titlecolor">VIDEATUR</h3>
                        <ul class="list-unstyled">
                           <li class="fx-f-titlecolor">Lorem ipsum</li>
                            <li class="fx-f-titlecolor">Lorem ipsum</li>
                            <li class="fx-f-titlecolor">Lorem ipsum</li>
                          <li class="fx-f-titlecolor">Lorem ipsum</li>
                           <li class="fx-f-titlecolor">Lorem ipsum</li>
                            <li class="fx-f-titlecolor">Lorem ipsum</li>
                        </ul>
                    </div>
                     <hr />
                <p class="copyright fx-f-titlecolor">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;@DateTime.Now.Year
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
                <p class="mb-0 list-unstyled">
                  <label class="fx-f-titlecolor" style="padding-right: 10px;border-right: 1px solid darkgray;">Impressum</label>
                         <label class="fx-f-titlecolor" style="padding-right: 10px;padding-left: 10px;border-right: 1px solid darkgray;">Datenschutz</label>
                                <label class="fx-f-titlecolor" style="padding-right: 10px;padding-left: 10px;">Nutzungsbedingungen</label>
                </p>
                </div>
            </div>
        </div>
    </div>
</footer>