<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white box-shadow">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/Images/Logo/logo.png" style="margin-left: 100px;" title="logo" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
            <ul class="navbar-nav flex-grow-0">
                <li class="nav-item">
                    <a onclick="scrooltoBenfit()" class="nav-link text-dark text-uppercase mx-2"  style="font-weight:600;cursor:pointer">Benefits</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark text-uppercase mx-2" onclick="scrooltoUnsere()" style="font-weight:600;cursor:pointer">Behandlungsprogramme</a>
                </li>
                <partial name="_LoginPartial" />
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/Images/Icon/ci_6.png" style="font-weight:600; height: 16px; width: 16px;" /></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/Images/Icon/ci_5.png" style="font-weight:600; height: 24px; width: 24px;" /></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login"><img src="~/Images/Icon/ci_3.png" style="font-weight:600; height: 16px; width: 16px;" /></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/Images/Icon/ci_4.png" style="font-weight:600; height: 16px; width: 16px;" /></a>
                </li>
            </ul>
        </div>
    </div>
</nav>